<!DOCTYPE html>
<head>
    <!--适应手机-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta charset="utf-8">
    <title>{{title}}</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .user_info {
            margin-bottom: 20px;
        }

        .user_info span {
            margin-right: 20px;
        }

        .user_info span:nth-child(2) {
            color: #999;
        }

        #app {
            width: 80%;
            height: 80%;
            margin: 10% auto;
        }

        table {
            width: 100%;
        }

        table tr td {
            border: 1px solid #ccc;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="user_info">
            <span>用户名</span><span>{{username}}</span>
        </div>
        <div class="user_info">
            <span>昵称</span><span>{{nickname}}</span>
        </div>
        <div class="user_info">
            <span>兔元余额</span><span>{{money}} 兔元 (<a href="/index/view/shop">皮肤小店</a>)</span>
        </div>
        <div class="user_info">
            <span>活动兔元</span><span>{{event_money}} 活动兔元</span>
        </div>
        <div class="user_info">
            <span>银行存款</span><span>{{bank_money}} 兔元</span>
        </div>
        <div class="user_info">
            <span>本金</span><span>{{bank_base_money}} 兔元</span>
        </div>
        <div class="user_info">
            <span>待存的钱</span><span>{{bank_wait_save_money}} 兔元</span>
        </div>
        <div class="user_info">
            <span>待取的钱</span><span>{{bank_wait_take_money}} 兔元</span>
        </div>
        <div class="user_info">
            <span>银行利息</span><span>{{bank_money_tow}} 兔元 (预期利息: {{bank_money_tow_expected}} 兔元)</span>
        </div>
        <div class="user_info">
            <span>资产清算</span><span>{{money_total}} 普通兔元, {{event_money}} 活动兔元</span>
        </div>
        <div class="user_info">
            <span>最后一次存款日期</span><span>{{bank_save_date}}</span>
        </div>
        <div class="user_info">
            <span>最后一次取款日期</span><span>{{bank_take_date}}</span>
        </div>
        {{list}}
    </div>
</body>